header {
    background-color: blueviolet;
    width: 25%;
    margin: 10%;
    padding: 10%;
    border-radius: 5%;
    text-align: center;
}
main {
    background-color: darkblue;
    width: 25%;
    margin: 10%;
    padding: 10%;
    height: 300px; 
    border-radius: 5%;
    text-align: center;
}